/* styles.css */

.contacts-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 456px;
  height: calc(100vh - 97px);
  top: 96px;
  left: 232px;
  background-color: #ffffff;
  box-shadow: 6px 0px 6px 0px lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
}
.contacts-first-letter-container {
  display: flex;
  align-items: center;
  width: 352px;
  height: 58px;
  padding-left: 36px;
  gap: 8px;
}
.contacts-first-letter {
  width: 14px;
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.contact-list {
  width: 400px;
  height: 1188px;
  padding: 0px 24px;
  gap: 0px;
  opacity: 0px;
  
}
.contact-list-name {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border: 2px solid #FFFFFF
}
.ellipse-list {
  width: 42px;
  height: 42px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: #FF7A00;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: white;
}
.contact-list-email {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #007cee;
}
.border-container {
  width: Fill 352px;
  height: 16px;
  padding: 8px, 0px, 8px, 0px;
  gap: 10px;
}
.border {
  width: 352px;
  border: 1px solid #d1d1d1;
}
.contact-container {
  display: flex;
  cursor: pointer;
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  gap: 35px;
  border-radius: 10px 0px 0px 0px;
}
.contact {
  width: 140px;
  height: 48px;
  gap: 5px;
  opacity: 0px;
}

/* Button zum Hinzufügen neuer Kontakte */
.add-contact-container {
  width: 456px;
  height: 101px;
  padding: 22.5px 52px 22.5px 52px;
  gap: 10px;
}
.add-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 352px;
  height: 56px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  cursor: pointer;
  background-color: #2a3647;
}
.add-button-text {
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
.person-add-png {
  height: 32px;
  width: 32px;
  margin-left: 20px;
}
.add-contact:hover {
  background-color: #0056b3;
}
/* display-contact-header */

.display-contact-header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 569px;
  height: 73px;
  top: 206px;
  left: 743px;
  gap: 30px;
  opacity: 0px;
}
.h1Contacts {
  width: 274px;
  height: 73px;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;
  color: #000000;
}
.border-vertical {
  width: 0px;
  height: 59px;
  gap: 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
  border: 3px solid #29abe2;
}
.span-txt {
  width: 235px;
  height: 32px;
  gap: 0px;
  opacity: 0px;
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: left;
  color: #2a3647;
}
.display-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 461px;
  height: 364px;
  top: 311px;
  left: 750px;
  gap: 21px;
}
.ellipse-container {
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  gap: 10px;
  border-radius: 70px 0px 0px 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
}
.ellipse {
  background-color: #FF7A00;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 47px;
  font-weight: 300;
}
.contact-name-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 461px;
  height: 120px;
  gap: 54px;
}
.contact-name-container {
  width: 287px;
  height: 88px;
  gap: 8px;
}
.display-name-contact {
  width: 287px;
  height: 88px;
  gap: 8px;
  opacity: 0px;
}
.contact-name {
  width: 287px;
  height: 56px;
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: left;
}
.edit-delete-container {
  width: 159px;
  height: 24px;
  gap: 16px;
}
.edit-delete-container {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;

  display: flex;
  width: 62px;
  height: 24px;
  gap: 13px;
  opacity: 0px;
}
.edit,
.delete {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.edit-icon {
  width: 18.28px;
  height: 18.25px;
  top: 2.75px;
  left: 3px;
  gap: 0px;
  opacity: 0px;
}
.delte-icon {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}
.contact-information-container {
  width: 207px;
  height: 74px;
  padding-top: 15px;
  gap: 59px;
  opacity: 0px;
}
.contact-information-txt {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.email-and-phone-container {
  width: 140px;
  height: 128px;
  gap: 22px;
  opacity: 0px;
}
.email-container {
  width: 140px;
  height: 53px;
  gap: 15px;
  opacity: 0px;
}
.phone-container {
  width: 124px;
  height: 53px;
  gap: 15px;
  opacity: 0px;
}
.email-headtxt {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
}
.email {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #007cee;
}
.phone-headtxt {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
}
.phone {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #007cee;
}


@media (max-width: 1024px) {
  .contacts-main-container{
    left: 0px;
    height: calc(100vh - 192px);
  }
}
@media (max-width: 768px) {
  .contacts-main-container {
      top: 80px;
      width: 100%;
      height: calc(100vh - 160px);
  }
}
@media (max-width: 424px) {
  .contacts-main-container {
      padding: 24px 0px 0px 24px;
  }
}