/* styles.css */
.d-none {
  display: none !important;
}
.contacts-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 456px;
  height: calc(100vh - 97px);
  top: 96px;
  left: 232px;
  background-color: #ffffff;
  box-shadow: 6px 0px 6px 0px lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
}
.contacts-first-letter-container {
  display: flex;
  align-items: center;
  width: 352px;
  height: 58px;
  padding-left: 36px;
  gap: 8px;
}
.contacts-first-letter {
  width: 14px;
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.contact-list {
  width: 400px;
  height: 1188px;
  padding: 0px 24px;
  gap: 0px;
  opacity: 0px;
}
.contact-list-name {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.ellipse-list {
  width: 42px;
  height: 42px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: #ff7a00;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  color: white;
}
.contact-list-email {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #007cee;
}
.border-container {
  width: Fill 352px;
  height: 16px;
  padding: 8px, 0px, 8px, 0px;
  gap: 10px;
}
.border {
  width: 352px;
  border: 1px solid #d1d1d1;
}
.contact-container {
  display: flex;
  width: 352px;
  height: 78px;
  padding: 15px 24px 15px 24px;
  gap: 35px;
  border-radius: 10px 0px 0px 0px;
}
.contact-container:hover {
  background-color: #F5F5F5;
  cursor: pointer;
  border-radius: 16px;
}
.contact {
  width: 140px;
  height: 48px;
  gap: 5px;
  opacity: 0px;
}
/* Button zum Hinzufügen neuer Kontakte */
.add-contact-container {
  width: 456px;
  height: 101px;
  padding: 22.5px 52px 22.5px 52px;
  gap: 10px;
}
.add-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 352px;
  height: 56px;
  border-radius: 10px;
  border: none;
  opacity: 0px;
  cursor: pointer;
  background-color: #2a3647;
}
.add-button-text {
  font-size: 21px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
.person-add-png {
  height: 32px;
  width: 32px;
  margin-left: 20px;
}
.add-contact:hover {
  background-color: rgba(43, 169, 227, 1);
  border: none;
}
/* display-contact-header */
.display-contact-header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 569px;
  height: 73px;
  top: 206px;
  left: 743px;
  gap: 30px;
  opacity: 0px;
}
.h1Contacts {
  width: 274px;
  height: 73px;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;
  color: #000000;
}
.border-vertical {
  width: 0px;
  height: 59px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #29abe2;
}

.span-txt {
  width: 235px;
  height: 32px;
  font-size: 27px;
  font-weight: 400;
  text-align: left;
  color: #2a3647;
}


@keyframes slideIn {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}

.display-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 461px;
  height: 364px;
  top: 311px;
  left: 750px;
  gap: 21px;
  animation: slideIn 1s forwards;
}

.ellipse-container {
  display: flex;
  align-items: center;
  width: 120px;
  height: 120px;
  gap: 10px;
  border-radius: 70px 0px 0px 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
}

.ellipse {
  background-color: #ff7a00;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 47px;
  font-weight: 300;
}

.contact-name-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 461px;
  height: 120px;
  gap: 54px;
}
.contact-name-container {
  width: 287px;
  height: 88px;
  gap: 8px;
}
.display-name-contact {
  width: 287px;
  height: 88px;
  gap: 8px;
  opacity: 0px;
}
.contact-name {
  width: 287px;
  height: 56px;
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: left;
  text-wrap: nowrap;
}
.edit-delete-container {
  width: 159px;
  height: 24px;
  gap: 16px;
}
.edit-delete-container {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  display: flex;
  width: 62px;
  height: 24px;
  gap: 13px;
  opacity: 0px;
}
.edit,
.delete {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.edit-icon {
  width: 18.28px;
  height: 18.25px;
  top: 2.75px;
  left: 3px;
  gap: 0px;
  opacity: 0px;
}
.delte-icon {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
}
.contact-information-container {
  width: 207px;
  height: 74px;
  padding-top: 15px;
  gap: 59px;
  opacity: 0px;
}
.contact-information-txt {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.email-and-phone-container {
  width: 140px;
  height: 128px;
  gap: 22px;
  opacity: 0px;
}
.email-container {
  width: 140px;
  height: 53px;
  gap: 15px;
  opacity: 0px;
}
.phone-container {
  width: 124px;
  height: 53px;
  gap: 15px;
  opacity: 0px;
}
.email-headtxt {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
}
.email {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #007cee;
}
.phone-headtxt {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  text-align: left;
}
.phone {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #007cee;
}
.back-arrow-on-responsive {
  position: absolute;
  padding: 4px 4px 0px 4px;
  border-radius: 100px;
  top: 20px;
  left: 80px;
}

.back-arrow-on-responsive:hover {
  background-color: #0C2E621F;
  cursor: pointer;
}

.highlightUser {
  background-color: #2a3647;
  color: white;
  border-radius: 16px;
}

.initialsColor0 {
  background-color: #ffffff; /* Weiß */
  color: black !important;
  border: solid 1px rgb(126, 126, 126);
}

.initialsColor1 {
  background-color: #f58b8b; /* Rot */
}

.initialsColor2 {
  background-color: #90f190; /* Grün */
}

.initialsColor3 {
  background-color: #7272f5; /* Blau */
}

.initialsColor4 {
  background-color: #dfdf7d; /* Gelb */
}

.initialsColor5 {
  background-color: #98eeee; /* Cyan */
}

.initialsColor6 {
  background-color: #ff9cff; /* Magenta */
}

.initialsColor7 {
  background-color: #ecc06e; /* Orange */
}

.initialsColor8 {
  background-color: #f18cf1; /* Lila */
}

.initialsColor9 {
  background-color: #FFC0CB; /* Pink */
}

.initialsColor10 {
  background-color: #8d3939; /* Braun */
}

.initialsColor11 {
  background-color: #b7d6e0; /* Hellblau */
}

.initialsColor12 {
  background-color: #699669; /* Dunkelgrün */
}

.initialsColor13 {
  background-color: #c0ab36; /* Gold */
}

.initialsColor14 {
  background-color: #C0C0C0; /* Silber */
}

.initialsColor15 {
  background-color: #000000; /* Schwarz */
}


@media (max-width: 1315px) {
  .display-contact-header {
    width: 520px;
    height: 73px;
  }
  .span-txt {
    height: 62px;
    font-size: 27px;
  }
}
@media (max-width: 1250px) {
  .display-contact-header {
    width: 460px;
    height: 73px;
    top: 180px;
    left: 692px;
  }
  .span-txt {
    height: 62px;
    font-size: 27px;
    text-wrap: wrap;
  }
  .contact-name {
    text-wrap: wrap;
  }
  .contacts-main-container {
    width: 400px;
  }
  .display-contact {
    top: 285px;
    left: 692px;
  }
}
@media (max-width: 1160px) {
  .display-contact-header {
    width: 400px;
    height: 73px;
  }
}
@media (max-width: 1111px) {
  .contacts-main-container {
    width: 370px;
  }
  .contact-name-main-container {
    width: 420px;
    height: 120px;
    gap: 30px;
  }
  .display-contact-header {
    top: 180px;
    left: 630px;
  }
  .display-contact {
    top: 285px;
    left: 630px;
  }
  .contact-name {
    text-wrap: nowrap;
  }
}
@media (max-width: 1024px) {
  .contacts-main-container {
    left: 0px;
    height: calc(100vh - 192px);
  }
  .display-contact-header {
    top: 200px;
    width: 600px;
    left: 430px;
  }
  .span-txt {
    width: 235px;
    height: 32px;
    font-size: 27px;
  }
  .display-contact {
    top: 305px;
    left: 430px;
  }
  .contact-name {
    text-wrap: nowrap;
  }
}
@media (max-width: 1000px) {
  .display-contact-header {
    width: 500px;
  }
  .span-txt {
    height: 60px;
  }
}
@media (max-width: 925px) {
  .display-contact-header {
    width: 460px;
  }
}
@media (max-width: 892px) {
  .display-contact-header {
    width: 450px;
  }
  .span-txt {
    height: 95px;
  }
  .contact-name {
    text-wrap: wrap;
  }
}
@media (max-width: 850px) {
  .contacts-main-container {
    width: 300px;
  }
  .add-contact-container {
    width: 300px;
    height: 98px;
    display: flex;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
  }
  .add-contact {
    width: 280px;
    height: 56px;
  }
  .contacts-first-letter-container {
    width: 300px;
    height: 58px;
    padding-left: 60px;
  }
  .contact-container {
    width: 300px;
    height: 78px;
    padding-left: 45px;
    gap: 35px;
    border-radius: 10px 0px 0px 0px;
  }
  .contact-containerHighlight {
    width: 300px;
    height: 78px;
    padding-left: 45px;
    gap: 35px;
    border-radius: 10px 0px 0px 0px;
  }
  .contact-containerHighlight:hover {
    background-color: red;
    cursor: default;
  }
  .border-container {
    width: 300px;
    padding-left: 40px;
    padding-right: 20px;
  }
  .border {
    width: 260px;
    border: 1px solid #d1d1d1;
  }
  .display-contact-header {
    top: 180px;
    left: 350px;
  }
  .display-contact {
    top: 285px;
    left: 350px;
  }
  .display-contact-header {
    width: 460px;
  }
  .span-txt {
    height: 60px;
  }
}
@media (max-width: 820px) {
  .h1Contacts {
    font-size: 51px;
  }
  .span-txt {
    font-size: 20px;
    height: 42px;
  }
  .span-contact-name {
    font-size: 40px;
  }
  .display-contact-header {
    width: 390px;
  }
  .ellipse {
    width: 90px;
    height: 90px;
  }
  .edit {
    font-size: 18px;
  }
  .edit-icon {
    width: 20px;
    height: 20px;
  }
  .delete {
    font-size: 18px;
  }
  .delete-icon {
    width: 20px;
    height: 20px;
  }
  .contact-information-txt {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .contacts-main-container {
    width: 100%;
  }
  .display-contact-header,
  .display-contact {
    display: none;
  }
  .contact-list {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .border-container,
  .add-contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .contact-container,
  .contacts-first-letter-container {
    padding-left: 150px;
    padding-right: 150px;
  }
  .add-contact,
  .border {
    width: 500px;
  }
  .contact-list-name {
    width: 400px;
  }
  .add-contact-container {
    margin-bottom: 20px;
  }
  .display-contact-header {
    width: 550px;
    top: 180px;
    left: 150px;
  }
  .h1Contacts {
    font-size: 61px;
  }
  .display-contact {
    top: 280px;
    left: 150px;
  }
  .span-txt {
    font-size: 24px;
    height: 30px;
  }
}
@media (max-width: 696px) {
  .display-contact-header {
    width: 550px;
    top: 180px;
    left: 80px;
  }
  .display-contact {
    left: 80px;
  }
}
@media (max-width: 610px) {
  .display-contact-header {
    width: 480px;
  }
}
@media (max-width: 560px) {
  .display-contact-header {
    width: 450px;
  }
}
@media (max-width: 535px) {
  .add-contact,
  .border {
    width: 400px;
  }
  .contact-container,
  .contacts-first-letter-container {
    padding-left: 100px;
  }
  .display-contact-header {
    left: 40px;
  }
  .display-contact {
    left: 40px;
  }
  .back-arrow-on-responsive {
    left: 40px;
  }
}

@media (max-width: 482px) {
  .display-contact-header {
    width: 300px;
  }
  .span-txt {
    height: 80px;
  }
}
@media (max-width: 460px) {
  .add-contact,
  .border {
    width: 300px;
  }
  .contact-container,
  .contacts-first-letter-container {
    padding-left: 80px;
  }
}
@media (max-width: 440px) {
  .display-contact-header,
  .display-contact {
    left: 20px;
  }
  .span-txt {
    height: 80px;
  }
  .back-arrow-on-responsive {
    left: 20px;
  }
}

@media (max-width: 420px) {
  .h1Contacts {
    font-size: 51px;
  }
  .span-txt {
    font-size: 20px;
    height: 70px;
  }
  .ellipse {
    width: 80px;
    height: 80px;
  }
  .span-contact-name
  {
    font-size: 30px;
  }
  .edit-icon {
    width: 18px;
    height: 18px;
  }
  .delete-icon {
    width: 18px;
    height: 18px;
  }
  .edit,.delete {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .add-contact,
  .border {
    width: 250px;
  }
  .contact-container,
  .contacts-first-letter-container {
    padding-left: 70px;
  }
}
@media (max-width: 370px) {
  .h1Contacts {
    font-size: 52px;
  }
  .ellipse 
  {
    width: 75px;
    height: 75px;
    font-size: 32px;
  }
  .span-txt {
    font-size: 16px;
    height: 55px;
  }
  .border-vertical
  {
    margin-left: -15px;
    margin-right: -15px;
  }
  .display-contact-header, .display-contact
  {
    left: 10px;
  }
  .contact-name-container
  {
    margin-left: -20px;
  }
  .contact-name-main-container
  {
    width: 380px;
  }
}