/* Hauptcontainer und allgemeine Einstellungen */
.main_wrapper {
    font-family: "inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
    height: 100dvh;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin: 0;
}

a {
    text-decoration: none;
}

.top_bar {
    height: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}

.brand_area {
    position: absolute;
    top: 80px;
    left: 77px;
    z-index: 100;
}

.brand_logo-desktop {
    opacity: 0;
    width: 100px;
    height: 122px;
    animation: fadeIn 200ms ease-in-out 1900ms forwards;
}

.brand_logo-mobile {
    width: 100px;
    height: 122px;
}

/* Navigation */
.auth_options {
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    padding-top: 91px;
    padding-right: 122px;
}

.auth_options p {
    width: 153px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.auth_signUp {
    width: 65px;
    height: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    padding: 15px;
    border-radius: 8px;
    background-color: #2a3647;
    color: white;
    text-decoration: none !important;
}

.auth_signUp:hover {
    color: #ffffff;
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none !important;
}

/* Login-Container */
.login_section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    max-width: 652px;
    max-height: 493px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.08);
}

.login_section h1 {
    margin: 0;
    width: 315px;
    height: 73px;
    font-weight: 700;
    font-size: 61px;
    text-align: center;
}

.login_divider {
    width: 150px;
    height: 3px;
    margin-top: 14px;
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Eingabefelder */
.field_group {
    width: 422px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
}

.field_group-margin32 {
    margin-bottom: 32px;
}

.field_group-margin44 {
    margin-bottom: 44px;
}

.field_group input {
    border: none;
    outline: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    width: 90%;
    cursor: pointer;
}

.field_icon-email {
    width: 30px;
    height: 26px;
}

.field_icon-password {
    width: 30px;
    height: 26px;
}

/* Buttons */
.auth_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 332px;
    height: 48px;
    gap: 35px;
}

.btn_login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    width: 110px;
    height: 48px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background: #2a3647;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
}

button:disabled:hover {
    background-color: grey;
    box-shadow: none;
    cursor: default;
}

.btn_login:hover {
    color: #ffffff;
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn_guest {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 177px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #2a3647;
    background-color: white;
    color: #2a3647;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    cursor: pointer;
    transition: color var(--transTime) ease-in-out, border-color var(--transTime) ease-in-out, box-shadow var(--transTime) ease-in-out;
}

.btn_guest:hover {
    color: #29abe2;
    border: 1px solid #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Checkbox */
.checkbox_area {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
    width: clamp(240px, 422px, 80%);
    margin-top: 20.4px;
}

.checkbox_area img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.checkbox_area img:hover {
    transform: scale(1.1);
    box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2), 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.checkbox_area p {
    width: 110px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

/* Weitere Klassen */
.noPointer {
    pointer-events: none;
}

.hidden {
    width: 21.65px;
    height: 18.95px;
}

.visible {
    margin-bottom: 2px;
    width: 21.65px;
    height: 15px;
}

.btn__disabled {
    cursor: default;
    background-color: #a8a8a8 !important;
    box-shadow: none !important;
}

.error_password_wrapper,
.error_email_wrapper {
    width: clamp(240px, 422px, 80%);
    margin-top: 8px;
    height: 15.6px;
    content: none;
}

.error_password_message,
.error_email_message {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.6px;
    color: #ff8190;
}

.wrongPassword,
.wrongMail {
    border-color: #ff8190 !important;
}

.field__group:has(input:focus) {
    border-color: #29abe2 !important;
}

/* Footer */
.site_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site_footer a {
    color: #a8a8a8;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    padding-bottom: 40px;
    min-width: 123px;
    text-align: center;
}

.site_footer a:hover {
    color: #29abe2;
    font-weight: 700;
}

.legal_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* Overlay */
.overlay_background {
    position: absolute;
    /* inset: 0 0 0 0; */
    background-color: #f6f7f8;
    opacity: 1;
    animation: animation_overlay 2000ms ease-in-out 750ms forwards;
}

.overlay_logo {
    position: relative;
    inset: 50% 0 0 50%;
    height: 334px;
    width: 274px;
    background-image: url("../assets/img/icons_login/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transform: translate(-50%, -50%);
    animation: animation_logo 1200ms ease-in-out 750ms forwards;
}

/* Animation start login */
.logo-container {
    position: absolute;
    top: 50px;
    left: 250px;
  }
  
  /* Beim Laden der Seite wird die Klasse 'start' entfernt */
  .start {
    top: 50%;
    left: 50%;
    transform: scale(3.0);
  }
  
  .blueBG {
    background-color: blue !important;
  }
  
  .transition2s {
    transition: all 2s ease-in-out;
  }

  .d-none {
    display: none;
  }

/* Animationen */

.auth_options-mobile {
    height: 49px;
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin-bottom: 27px;
}

.auth_options-mobile p {
    width: 153px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.auth_signUp-mobile {
    color: white;
    width: 104px;
    height: 49px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
    padding: 15px;
    border-radius: 8px;
    background-color: #2a3647;
    transition: color var(--transTime) ease-in-out, background-color var(--transTime) ease-in-out, box-shadow var(--transTime) ease-in-out;
}

.auth_signUp-mobile:hover {
    color: #ffffff;
    background-color: #29abe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


@media (max-width: 800px) and (min-height: 600px) {
    .overlay_background {
        background-color: #2a3647;
    }

    .overlay_logo {
        background-image: url("../img/login/logo_mobile.svg");
        animation: animation_logo 1200ms ease-in-out 750ms forwards, fadeOut 1600ms ease-in-out 750ms forwards;
    }

    .brand_logo-desktop {
        opacity: 0;
        animation: fadeIn 200ms ease-in-out 1800ms forwards;
    }

    body {
        background-color:#2a3647;
    }

    .auth_options {
        margin-right: -90px;
    }

    .imgLogo {
        position: fixed;
    }
}


@media (max-width: 635px) {
    img {
        left: 50px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleImg {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media (max-width: 535px) {
    .field_group {
        width: 70%;
    }

    .login_section h1 {
        font-size: 48px;
    }

    .auth_options {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 700px;
        position: fixed;
        margin-left: 40px;
        
    }

    .btn_guest {
        width: auto;
        gap: 20px;
    }

    .auth_buttons {
        gap: 10px;
    }

    .logo-container {
        left: 50px;
    }

    .main_wrapper {
        overflow: hidden;
    }
}


@media (max-width: 320px) {
    .btn_guest {
        width: 90px;
        gap: 10px;
    }

    .auth_buttons {
        gap: 10px;
    }
}