main {
  font-family: "inter", sans-serif;
}

.main__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  background-color: #f6f7f8;
  padding-bottom: 40px;
  padding-left: 40px;
}

.summary__container {
  margin-left: 260px;
  margin-top: 50px;
}

.summary__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 625px;
  height: 73px;
}

.summary__header h2 {
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
}

.seperator {
  width: 3px;
  height: 59px;
  background-color: #29abe2;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.summary__header-text {
  font-weight: 400;
  font-size: 27px;
  line-height: 32.4px;
}

.summary__tiles__container {
  display: flex;
  align-items: center;
  padding-top: calc(335px - 206px - 73px);
}

.summary__tiles {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 560px;
  height: 562px;
  gap: 28px;
}

.summary__first__section {
  display: flex;
  gap: 32px;
}

.summary__two_tiles {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 264px;
  height: 168px;
  padding: 38px 19px;
  background-color: white;
  color: rgba(0, 0, 0, 0.99);
  gap: 18px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.summary__tiles__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.summary__text__top-and-bottom {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.summary__text__top-and-bottom-text_align {
  text-align: left;
}

.summary__text__middle {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.summary__second__section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 168px;
  padding: 28px 48px;
  gap: 61px;
  border-radius: 30px;
  background-color: white;
  color: rgba(0, 0, 0, 0.99);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.summary__tiles__seperator {
  height: 102px;
  width: 2px;
  border: 1px solid lightgrey;
}

.summary__third__section {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.summary__third__section-tiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 168px;
  height: 168px;
  padding: 25px 0px;
  gap: 13px;
  border-radius: 30px;
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.99);
}

.summary__tiles__number {
  font-weight: 600;
  font-size: 64px;
  line-height: 76.8px;
  text-align: center;
}

.summary__deadline__date {
  font-weight: 700;
  font-size: 21px;
  line-height: 25.2px;
  margin-bottom: 12px;
}

.summary__deadline__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}

.summary__greeting__container {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  margin-left: 78px;
}

.summary__greeting__formula {
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  text-align: left;
  color: #2a3647;
}

.summary__greeting__formula-mobile {
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
  color: #2a3647;
}

.summary__greeting__name {
  font-size: 64px;
  font-weight: 700;
  line-height: 76.8px;
  text-align: left;
  color: #29abe2;
}

.summary__greeting__name-mobile {
  font-size: 47px;
  font-weight: 700;
  line-height: 56.4px;
  text-align: center;
  color: #29abe2;
}

.summary__two_tiles:hover,
.summary__second__section:hover,
.summary__third__section-tiles:hover {
  background-color: #2a3647;
  color: white;
  transition: 100ms ease-in-out;
  box-shadow: 0px 4px 4px 0px #00000040;
  transform: scale(1.1);
}

.second__section__first__tile {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
}

/*.summary__overlay__container {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    opacity: 1;
    z-index: 1;
    background: #f6f7f8;
    animation: fadeOut 600ms ease-in 1200ms;
}*/

/*.summary__greeting__container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}*/

svg.circle:hover {
  fill: white;
}

.hoverImg {
  display: none;
}

.summary__two_tiles:hover .hoverImg {
  display: block;
}

.summary__two_tiles:hover .onloadImg {
  display: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1630px) {
  .summary__header {
    max-width: 625px;
    height: 20px;
    margin-bottom: 32px;
  }
  .summary__tiles__container {
    padding-top: calc(300px - 206px - 73px);
  }
}

@media (max-width: 1206px) {
  .summary__greeting__container {
    display: none;
  }
}

@media (max-width: 1024px) {
  .summary__container {
    margin-left: 0px;
  }
  .summary__two_tiles {
    width: 200px;
    height: 140px;
    padding: 38px 19px;
  }
  .summary__second__section {
    width: 100%;
    height: 140px;
  }
  .summary__third__section-tiles {
    height: 140px;
  }
  .summary__tiles__number {
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
  }
  .summary__icons {
    height: 60px;
    width: 60px;
  }

  .main__container {
    justify-content: center;
    padding-left: 0;
  }
}

/* Here final design shown in FIGMA at 428 x 926 px */
@media (max-width: 680px) {
  .summary__container {
    margin-top: 0;
  }
  .main__container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
  }

  .summary__header {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    padding-top: 28px;
  }

  .seperator {
    display: none;
  }

  .seperator__horizental {
    padding-top: 16px;
    display: flex;
    width: 90px;
    height: 3px;
    background-image: url(../assets/img/icons_summary/separator.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  .summary__first__section {
    gap: 24px;
  }

  .summary__tiles__container {
    padding-top: 0px;
  }

  .summary__tiles {
    width: 396px;
    gap: 18px;
  }

  .summary__two_tiles {
    width: 186px;
    height: 110px;
    gap: 10px;
    border-radius: 20px;
  }

  .summary__two_tiles img {
    width: 40px;
    height: 40px;
  }

  .summary__second__section {
    width: 100%;
    height: 110px;
    border-radius: 20px;
  }

  .summary__third__section-tiles {
    width: 116px;
    height: 116px;
    gap: 24px;
  }

  .summary__header h2 {
    font-size: 47px;
    line-height: 56px;
  }

  .summary__header-text {
    font-size: 20px;
    line-height: 24px;
  }

  .summary__tiles__number {
    font-size: 47px;
    line-height: 56px;
  }

  .summary__text__top-and-bottom,
  .summary__text__middle,
  .summary__deadline__text {
    font-size: 14px;
    line-height: 16.8px;
  }

  .summary__tiles__text {
    gap: 0;
  }

  .summary__second__section {
    justify-content: center;
  }

  .summary__icons {
    width: 40px;
    height: 40px;
  }

  .summary__tiles__seperator {
    height: 68px;
    width: 2px;
  }

  .summary__deadline__date {
    font-size: 16px;
    line-height: 19.2px;
    margin-bottom: 8px;
    width: max-content;
  }

  .second__section__first__tile {
    display: flex;
    align-items: center;
    width: calc(50% - 1px);
  }

  .summary__third__section-tiles {
    border-radius: 20px;
  }

  .summary__third__section {
    gap: 24px;
  }

  .summary__third__section-tiles {
    gap: 0px;
  }
}

@media (max-width: 420px) {
  .summary__container {
    width: 100%;
    transform: scale(0.9);
  }

  .main__container {
    padding-left: 0;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .summary__container {
    transform: scale(0.8);
  }
}

@media (max-width: 370px) {
  .summary__container {
    transform: scale(0.7);
  }
}

@media (max-width: 330px) {
  .main__container {
    margin-left: -24px;
  }

  .summary__container {
    transform: scale(0.6);
  }
}

@media (min-width: 374px) and (max-width: 376px) and (min-height: 666px) and (max-height: 668px) {
  .main__container {
    max-height: 100vh;
  }

  .summary__container {
    margin-top: -50px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px;
  }
  .summary__tiles {
    height: 380px;
  }
}
